body{
    background-color: #C4E0F9;
    padding-left: 5em;
   /*color: var(--text-color);*/
}


h1{
    color: #67AAF9;
    text-align: center;
    font-size: 5em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
p{
    color: #B95F89;
    font-size: 3em;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#main{
    display:flex;
    flex-direction: column;
    margin: 1% 60% 0 0;
}
#choices{
    display: flex;
    justify-content: space-around;
    margin: 2% 0 2% 19%;
    padding: 30px;
    
}
button:hover{
    background-color: #e9cdd8;
    background-clip: padding-box;
}
button:active{
    background-color: #7c3e5b;
}
button{
    font-size: larger;
    color: #B95F89;
    background-color: #C4E0F9;
    border: 6px double #c25a8b;
    padding: 10px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#interface{
    display: flex;
    flex-direction: column;
    border: 10px double #c25a8b;
    height: 20em;
    margin: 0 40% 2% 10%;
}
#bothChoices{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c25a8b;
    font-size: 200%;
    margin: 1em 2em 0 2em;
    height: 50%;
}
#result{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c25a8b;
    font-size: 3em;
    text-align: center;
    margin: 0 0.5em 0 0.5em;
    height: 35%;
}
#score{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c25a8b;
    font-size: 2em;
    margin: 0.5em;
    height: 10%;
}
#end{
    font-size:2em;
    margin-left: 29%;
}
#text{
    margin: 0%;
}